
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PartialView</title>
</head>
<body>

@foreach (var task in @Model.TodoModels)
{
    <div>
        <br><strong>@task.Text</strong> 
        @if (@task.DateCompleted==null )
        {
            <a class="alert-danger" >
                @task.RemamingText
            </a>
            <a >
                <br>Date due: @(@task.DateDue?.ToLongDateString() ?? "No date")
            </a>
            <br><a asp-action="MarkAsCompleted" asp-route-vm="@task.Id" title="Mark as completed">Complete</a><br>
        }
        else
        {
            <a>
                <br> Date Completed: @task.DateCompleted
            </a>
            <br><a asp-action="Remove" asp-route-vm="@task.Id" title="Remove the task">Remove</a><br>
        }
      
            
        <br/>
        
    </div>
}

</body>
</html>

